.reset-kiosk-view-button {
    z-index: var(--z-index-sticky);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #3a3a3a;
    border-radius: var(--rounding-large);
    width: var(--spacing-xxx-large);
    height: var(--spacing-xxx-large);
    background: #000000;
    transition: background-color 0.2s, border-color 0.2s;
    color: #ffffff;
    font: inherit;
    cursor: pointer;
    user-select: none;
    pointer-events: auto;

    &:hover {
        background-color: #1a1a1a;
        border: 1px solid #555555;
    }

    &:active {
        transform: scale(0.98);
    }

    svg {
        width: 24px;
        height: 24px;
        pointer-events: none;
    }
}