$desktop-breakpoint: 992px;

.modal {
    position: absolute;
    z-index: 1003;
    width: 480px;
    left: 20px;
    top: 12px;
    border-radius: var(--spacing-x-small);
    border: none;
    background: transparent;
    transform: translateY(0);
    overflow: visible;
    display: none;
    max-height: 80%;

    /* Hide scrollbar for all browsers */
    /* For WebKit browsers (Chrome, Safari) */
     &::-webkit-scrollbar {
        display: none;
    }
    /* For Firefox */
    scrollbar-width: none;
    /* Edge */
    -ms-overflow-style: none;

    &--open {
        transform: translateY(0);
        display: block;
    }

    &--full:not(.modal--kiosk) {
        height: 100%;
    }

    &--kiosk {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: auto; // Override the top positioning for kiosk modals
        bottom: var(--spacing-x-large); // Keep bottom positioning for kiosk mode

        &--open {
            transform: translateX(0);
        }
    }

    &__content {
        height: 100%;
        max-height: 100%;
        min-height: 0;
        box-sizing: border-box;
    }
}
